
.container{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-color: blue;
}
.container header{
    height: 300px;
    width: 100%;
    background-color: red;
}
.container nav{
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: orange;
    line-height: 40px;
    color: white;
    font-variant: small-caps;
}
.container article{
    width: 70%;
    height: 500px;
    float: left;
    background-color: white;
}
.container aside{
    width: 30%;
    height: 500px;
    float: left;
    background-color: lightgray;
}
.container footer{
    border-top:5px double orangered;
    width: 100%;
    height: 150px;
    line-height: 50px;
    text-align: center;
    font-variant: small-caps;
    background-color: lightcyan;
    clear: both;
}
.container nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.container>nav>a:hover{
    color: yellow;
    text-decoration: underline;
}
.container aside ul{
    text-decoration: underline;
}
